<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Testimonial Design</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
   <div class="title">Work <small>Hard</small> Play <small>Hard</small></div>
   <div class="description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus    odio adipisci ducimus? Impedit est dolore maxime unde repudiandae blanditiis        veritatis accusamus, in fugit excepturi optio aperiam officia eius, omnis          numquam omnis  numquam. omnis   numquam.</p>
   </div>
</div>
<div class="wrapper border-radius">
   <div class="description text-right">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus    odio adipisci ducimus? Impedit est dolore maxime unde repudiandae blanditiis        veritatis accusamus, in fugit excepturi optio aperiam officia eius, omnis          numquam omnis  numquam. omnis   numquam.</p>
   </div>
   <div class="title">Work <small>Hard</small> Play <small>Hard</small></div>
</div>
<div class="wrapper border-radius">
   <div class="title">Work <small>Hard</small> Play <small>Hard</small></div>
   <div class="description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus    odio adipisci ducimus? Impedit est dolore maxime unde repudiandae blanditiis        veritatis accusamus, in fugit excepturi optio aperiam officia eius, omnis          numquam omnis  numquam. omnis   numquam.</p>
   </div>
</div>
<!-- partial -->
  
</body>
</html>
